/.ant_targets
/.idea
/build/phar
/build/*.phar
/build/*.phar.asc
/tests/TextUI/*.diff
/tests/TextUI/*.exp
/tests/TextUI/*.log
/tests/TextUI/*.out
/tests/TextUI/*.php
/cache.properties
/composer.lock
/vendor
