<?xml version="1.0" encoding="utf-8" ?>

<phpdox xmlns="http://phpdox.de/config">
 <project name="PHPUnit" source="PHPUnit" workdir="build/phpdox">
  <collector publiconly="false">
   <include mask="*.php" />
   <exclude mask="*Autoload.php" />
  </collector>

  <generator output="build">
   <build engine="html" enabled="true" output="api"/>
  </generator>
 </project>
</phpdox>
