parameters:
    ignoreErrors:
        - '#Function xdebug_start_function_monitor not found.#'
        - '#Function xdebug_get_monitored_functions not found.#'
        - '#Function xdebug_stop_function_monitor not found.#'
        - '#Class SebastianBergmann\\Invoker\\Invoker not found.#'
        - '#Instantiated class SebastianBergmann\\Invoker\\Invoker not found.#'
        - '#Caught class SebastianBergmann\\Invoker\\TimeoutException not found.#'
