<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         bootstrap="PHPUnit/Autoload.php"
         backupGlobals="false"
         verbose="true">
  <testsuites>
    <testsuite name="PHPUnit">
      <directory suffix="Test.php">Tests/Framework</directory>
      <directory suffix=".phpt">Tests/Framework/MockObject</directory>
      <directory suffix="Test.php">Tests/Extensions</directory>
      <directory suffix=".phpt">Tests/Regression</directory>
      <directory suffix="Test.php">Tests/Runner</directory>
      <directory suffix=".phpt">Tests/TextUI</directory>
      <directory suffix="Test.php">Tests/Util</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="PHPUnit"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">PHPUnit</directory>
      <exclude>
       <file>PHPUnit/Autoload.php</file>
       <file>PHPUnit/Framework/Assert/Functions.php</file>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
