<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>

        <testsuite name="end-to-end">
            <directory suffix=".phpt">tests/end-to-end/baseline</directory>
            <directory suffix=".phpt">tests/end-to-end/cli</directory>
            <directory suffix=".phpt">tests/end-to-end/data-provider</directory>
            <directory suffix=".phpt">tests/end-to-end/deprecation-trigger</directory>
            <directory suffix=".phpt">tests/end-to-end/event</directory>
            <directory suffix=".phpt">tests/end-to-end/execution-order</directory>
            <directory suffix=".phpt">tests/end-to-end/extension-cli</directory>
            <directory suffix=".phpt">tests/end-to-end/extension-xml</directory>
            <directory suffix=".phpt">tests/end-to-end/generic</directory>
            <directory suffix=".phpt">tests/end-to-end/groups-from-configuration</directory>
            <directory suffix=".phpt">tests/end-to-end/logging/junit</directory>
            <directory suffix=".phpt">tests/end-to-end/logging/teamcity</directory>
            <directory suffix=".phpt">tests/end-to-end/logging/testdox</directory>
            <directory suffix=".phpt">tests/end-to-end/metadata</directory>
            <directory suffix=".phpt">tests/end-to-end/migration</directory>
            <directory suffix=".phpt">tests/end-to-end/mock-objects</directory>
            <directory suffix=".phpt">tests/end-to-end/phpt</directory>
            <directory suffix=".phpt">tests/end-to-end/regression</directory>
            <directory suffix=".phpt">tests/end-to-end/self-direct-indirect</directory>
            <directory suffix=".phpt">tests/end-to-end/testdox</directory>

            <exclude>tests/end-to-end/event/_files</exclude>
            <exclude>tests/end-to-end/execution-order/_files</exclude>
            <exclude>tests/end-to-end/groups-from-configuration/_files</exclude>
            <exclude>tests/end-to-end/logging/_files</exclude>
            <exclude>tests/end-to-end/migration/_files</exclude>
            <exclude>tests/end-to-end/self-direct-indirect/_files</exclude>
            <exclude>tests/end-to-end/testdox/_files</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <file>src/Framework/Assert/Functions.php</file>
        </exclude>
    </source>

    <php>
        <ini name="precision" value="14"/>
        <ini name="serialize_precision" value="14"/>

        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
