<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../../phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>src/Foo.php</file>
            <file>src/CannotBeParsed.php</file>
        </include>
    </source>

    <coverage driver="PHPUnit\TestFixture\CodeCoverageParseError\CustomDriverWithFakeData">
        <report>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
