<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Issue3379TestListener" file="./Issue3379TestListener.php"/>
    </listeners>
</phpunit>
