<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../schema/9.5.xsd"
>
<testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxXml outputFile="var/phpunit/testdox.xml"/>
    </logging>
</phpunit>
