<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset={charset}">
    <title>{title}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr><td class="title">{title}</td></tr>
      <tr><td class="ruler"><img src="glass.png" width="3" height="3" alt=""></td></tr>

      <tr>
        <td width="100%">
          <table cellpadding="1" border="0" width="100%">
            <tr>
              <td class="headerItem" width="20%">Current directory:</td>
              <td class="headerValue" width="80%">{link}</td>
            </tr>
            <tr>
              <td class="legendItem" width="20%">Legend:</td>
              <td class="legendValue" width="80%">
                <span class="coverLegendLo">
                  <b>Low:</b> 0% to {low_upper_bound}%
                </span>
                <span class="coverLegendMed">
                  <b>Medium:</b> {low_upper_bound}% to {high_lower_bound}%
                </span>
                <span class="coverLegendHi">
                  <b>High:</b> {high_lower_bound}% to 100%
                </span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="ruler"><img src="glass.png" width="3" height="3" alt=""></td>
      </tr>
    </table>

    <br />

    <center>
      <table width="90%" cellpadding="2" cellspacing="1" border="0">
        <tr>
          <td class="tableHead" width="30%">&nbsp;</td>
          <td class="tableHead" colspan="9">Coverage</td>
        </tr>
        <tr>
          <td class="tableHead">&nbsp;</td>
          <td class="tableHead" colspan="3">Lines</td>
          <td class="tableHead" colspan="3">Functions / Methods</td>
          <td class="tableHead" colspan="3">Classes</td>
        </tr>
{total_item}{items}
      </table>
    </center>

    <br />

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr><td class="ruler"><img src="glass.png" width="3" height="3" alt=""></td></tr>
      <tr><td class="versionInfo">Generated by <a href="http://www.phpunit.de/" target="_top">PHPUnit {phpunit_version}</a> and <a href="http://www.xdebug.org/" target="_top">Xdebug {xdebug_version}</a> using <a href="http://www.php.net/" target="_top">PHP {php_version}</a> at {date}.</td></tr>
    </table>

    <br/>
  </body>
</html>
