<?php
function __phpunit_run_isolated_test()
{
    $result = new PHPUnit_Framework_TestResult;
    $result->collectRawCodeCoverageInformation({collectCodeCoverageInformation});

    $test = new {className}('{methodName}', unserialize('{data}'), '{dataName}');
    $test->setInIsolation(TRUE);
    $test->run($result);

    print serialize(
      array('numAssertions' => $test->getNumAssertions(), 'result' => $result)
    );
}

{globals}
set_include_path('{include_path}');

if (isset($GLOBALS['__PHPUNIT_BOOTSTRAP'])) {
    require_once $GLOBALS['__PHPUNIT_BOOTSTRAP'];
    unset($GLOBALS['__PHPUNIT_BOOTSTRAP']);
}

require_once 'PHPUnit/Framework.php';
require_once '{filename}';

__phpunit_run_isolated_test()
?>
