
    {modifier} function {reference}{method_name}({arguments})
    {
        $args = func_get_args();

        $result = $this->__phpunit_getInvocationMocker()->invoke(
          new PHPUnit_Framework_MockObject_Invocation_Object(
            '{class_name}', '{method_name}', $args, $this
          )
        );

        return $result;
    }
