    public function __construct({arguments})
    {
        $args = func_get_args();

        $this->invocationMocker = new PHPUnit_Framework_MockObject_InvocationMocker($this);

        $class = new ReflectionClass('{mocked_class_name}');
        $class->getParentClass()->getConstructor()->invokeArgs($this, $args);
    }

