class {class_name} extends SOAPClient implements PHPUnit_Framework_MockObject_MockObject
{
    public function __construct($wsdl, array $options)
    {
        parent::__construct('{wsdl}');
    }
{methods}}
