<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../../../phpunit.xsd"
         defaultTestSuite="first">
    <testsuites>
        <testsuite name="first">
            <directory>first</directory>
        </testsuite>

        <testsuite name="second">
            <directory>second</directory>
        </testsuite>
    </testsuites>
</phpunit>
